@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: url("images/background.jpg") no-repeat center;
  background-size: cover;
}

.jumbotron.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  min-width: 360px;
  margin-bottom: 0;
  background: none;
  padding: 0;

  display: flex;
  .container {
    text-align: center;
    img {
      width: 40%;
      max-width: 300px;
    }
    form {
      text-align: initial;
    }
    .form-content {
      background: #ffffffd4 !important;
      padding: 1.2em !important;
      button {
        margin-left: 8px;
      }
    }
  }

}